<section id="admin-home">
  <div class="row">
    <div class="col">
      <h1>Admin Home</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Users</h3>
            <p class="card-text">5</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Videos: 5</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="card-text">Styles: 5</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
