<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">mysampleapp</h1>
    <p class="lead text-center">Create beautiful SCORM Compliant Courses that work in any LMS.</p>
    <ul class="nav justify-content-center">
      <li class="navbar-item">
        <button class="btn btn-primary" (click)="gotoRegister()">Get Started</button>
      </li>
      <li class="navbar-item">
        <button class="btn btn-primary" (click)="gotoLogin()">Login</button>
      </li>
    </ul>
  </div>
</div>
