$emerald: #3FC380;
$monza: #CF000F;
$azul: #31BBD1;
$grey: #ccc;
$font-body: 'Work Sans';
$font-header: 'Noto Sans';
$font-serif: 'Noto Serif';
$header-background: $grey;
$body-background: #fff;
$validation-green: $emerald;
$validation-red: $monza;
$theme-colors: ( 'azul': $azul, 'emerald': $emerald, 'light-grey': $grey);
