<section id="social-login">
    <nav class="nav btn-list">
        <button class="btn btn-social btn-linkedin" (click)="loginLi()">
      <span class="fa fa-linkedin"></span>Sign in with LinkedIn</button>
        <button id="googleBtn" class="btn btn-social btn-google">
      <span class="fa fa-google"></span>Sign in with Google</button>
        <button class="btn btn-social btn-github" (click)="loginGh()">
      <span class="fa fa-github"></span>Sign in with Github</button>
        <button class="btn btn-social btn-facebook" (click)="loginFb()">
      <span class="fa fa-facebook"></span>Sign in with Facebook</button>
    </nav>
</section>