<div class="alert alert-danger" *ngIf="error">{{error}}</div>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<form novalidate [formGroup]="passwordInp">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>{{label}}</label>
        <input type="password" class="form-control" required placeholder="" id="password" formControlName="password">
        <app-strength-meter *ngIf="passwordVal" [passwordVar]="passwordVal"></app-strength-meter>
        <app-password-feedback *ngIf="passwordInp.get('password').errors?.strongPassword" [feedback]="passwordInp.get('password').errors.strongPassword.feedback">
        </app-password-feedback>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="text-danger" *ngIf="password.errors.required">
            Password is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="standalone">
    <div class="col-sm-12">
      <ul class="list-inline">
        <li class="list-inline-item">
          <button [disabled]="passwordInp.invalid" class="btn btn-primary" (click)="onSubmit()">Save</button>
        </li>
      </ul>
    </div>
  </div>
</form>
