.news-item {
  margin-bottom: 15px;
  .news-item-header {
    line-height: 1.58;
    letter-spacing: -.003em;
  }
  .news-item-body {
    line-height: 1.58;
    letter-spacing: -.003em;
    font-family: 'Work Sans';
    font-size: 1rem;
    width: 100%;
  }
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
